<link rel="stylesheet" href="~/css/style.css" />

<div class="navbar">
    <a href="/">Home</a>
    <a href="/Home/Books">Books</a>
    <a href="/Home/IssueBook">Issue Book</a>
    <a href="/Home/Contact">Contact</a>
    <a href="/Home/About">About</a>
</div>

<div class="container">
    <div class="card">

        <h1>About Library</h1>

        <p>
            Our library provides educational books, programming books,
            journals and digital learning resources for students.
        </p>

        <p>
            This project is developed using ASP.NET MVC technology.
        </p>

        <h3>Library Features</h3>

        <ul>
            <li>Book Management</li>
            <li>Issue and Return Books</li>
            <li>Student Record Management</li>
            <li>Book Availability Status</li>
            <li>Simple User Interface</li>
        </ul>

    </div>
</div>

<footer>
    <p>Library Management System | BCA Semester 5 Project</p>
</footer>