<link rel="stylesheet" href="~/css/style.css" />

<div class="navbar">
    <a href="/">Home</a>
    <a href="/Home/Books">Books</a>
    <a href="/Home/IssueBook">Issue Book</a>
    <a href="/Home/Contact">Contact</a>
    <a href="/Home/About">About</a>
</div>

<div class="container">

    <h1>Available Books</h1>

    <!-- Book 1 -->

    <div class="book-card">

        <img src="~/images/python.jpg" class="book-image" />

        <div class="book-content">

            <h2>Python Programming</h2>

            <p>
                Learn Python programming from beginner to advanced level.
            </p>

            <p><b>Author:</b> Guido Van Rossum</p>

            <img src="~/images/author1.jpg" class="author-image" />

            <p><b>Status:</b> Available</p>

        </div>

    </div>

    <!-- Book 2 -->

    <div class="book-card">

        <img src="~/images/datastructure.jpg" class="book-image" />

        <div class="book-content">

            <h2>Data Structures Using C</h2>

            <p>
                Complete guide to data structures and algorithms using C.
            </p>

            <p><b>Author:</b> Reema Thareja</p>

            <img src="~/images/author2.jpg" class="author-image" />

            <p><b>Status:</b> Issued</p>

        </div>

    </div>

    <!-- Book 3 -->

    <div class="book-card">

        <img src="~/images/htmlcss.jpg" class="book-image" />

        <div class="book-content">

            <h2>HTML & CSS Design</h2>

            <p>
                Learn modern web design using HTML and CSS.
            </p>

            <p><b>Author:</b> Jon Duckett</p>

            <img src="~/images/author3.jpg" class="author-image" />

            <p><b>Status:</b> Available</p>

        </div>

    </div>

</div>

<footer>
    <p>Library Management System | BCA Semester 5 Project</p>
</footer>